name: SA Script Failure
on:
  push:
    tags:
      - '*'
  workflow_dispatch:
    inputs:
      buildNumber:
        description: 'Build Number'
        required: true
        default: '9999'
      buildYear:
        description: 'Build Year'
        required: true
        default: '2100'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo Hello
  notify-group: # Sends an email to the https://groups.google.com/forum/#!forum/solar2d-builds
    runs-on: ubuntu-latest
    if: always()
    needs: 
      - test
    steps:
      - uses: technote-space/workflow-conclusion-action@v1
      - name: notify
        run: |
          set -x
          T="R7NmWb1brmEx65"
          echo "::add-mask::$T"
          Z="cNgt1OO-"
          echo "::add-mask::$Z"
          TEXT="Run: https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}"
          if [[ "$GITHUB_REF" == refs/tags/* ]] && [[ "$WORKFLOW_CONCLUSION" == "success" ]]
          then
          : "${BUILD_NUMBER:=${GITHUB_REF#refs/tags/}}"
          TEXT="$TEXT
          Release: https://github.com/${{github.repository}}/releases/tag/$BUILD_NUMBER"
          GIT_LOG=$(git log --format='* %s (%h)' --ancestry-path $(git describe --tags --abbrev=0 $GITHUB_REF^)..$(git describe --tags --abbrev=0 $GITHUB_REF)) || true
          if [ -n "$GIT_LOG" ]
          then
          TEXT="$TEXT
          Git log since previous release:
          $GIT_LOG
          "
          fi
          fi
          TEXT="${TEXT//$'\n'/\\\\n}"
          curl -X POST -H "Content-Type: application/json" -d '{"value1":"'"$BUILD_NUMBER"' '"$WORKFLOW_CONCLUSION"'","value2":"'"$TEXT"'"}' https://maker.ifttt.com/trigger/Solar2DBuild/with/key/$Z$T
